/* Admin Panel Styles */
#classTabs button {
  margin-right: 5px;
  margin-top: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

#classTabs button:hover {
  background-color: #495057;
}

#classStudents table {
  margin-top: 10px;
}
