/* Student Panel Styles */
#notificationsDiv p {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#breakRequestBtn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #ffc107;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#breakRequestBtn:hover {
  background-color: #e0a800;
}
